<h1>Categories</h1>
<ul id="categories">
    {% for category in categories %}
        <li id="{{ category.id }}" onclick="getSubcategories(this.id)">{{ category.name }}
            - {{ category.description }}</li>
    {% endfor %}
</ul>
<h1>SubCategories</h1>
<ul id="subcategories">

</ul>

<script>
    function getSubcategories(category_id) {
        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                document.getElementById("subcategories").innerHTML = this.responseText;
            }
        };
        xhttp.open("GET", "/get_subcategories?category_id=" + category_id, true);
        xhttp.send();
    }
</script>
