{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'articles/articles.css' %}">

{% endblock %}

{% block main %}
    <section class="articles-page">
        <h1>Les Articles</h1>

        <fieldset class="input__container">
            <legend>
                <label for="article_filter">Filtrer les articles</label>
            </legend>
            <input placeholder="search article" id="article_filter" type="search">
        </fieldset>
        <div class="article-export">
            <h3>{{ len }} Articles</h3>
            <a href="{% url 'export_articles' %}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                    <path d="M48 448V64c0-8.8 7.2-16 16-16H224v80c0 17.7 14.3 32 32 32h80V448c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16zM64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V154.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0H64zm90.9 233.3c-8.1-10.5-23.2-12.3-33.7-4.2s-12.3 23.2-4.2 33.7L161.6 320l-44.5 57.3c-8.1 10.5-6.3 25.5 4.2 33.7s25.5 6.3 33.7-4.2L192 359.1l37.1 47.6c8.1 10.5 23.2 12.3 33.7 4.2s12.3-23.2 4.2-33.7L222.4 320l44.5-57.3c8.1-10.5 6.3-25.5-4.2-33.7s-25.5-6.3-33.7 4.2L192 280.9l-37.1-47.6z"></path>
                </svg>
                Export Articles
            </a>
        </div>
        <ul class="article__container">
            <a class="add-article" href="{% url 'add_article' %}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"></path>
                </svg>
                Add article
            </a>
            {% for article in articles %}
                <a href="{% url 'article_details' article.id %}">
                    <article class="article">
                        <picture>
                            <img class="article__image" src="{{ article.image.url }}" alt="{{ article.name }}">
                        </picture>
                        <section class="article__content">
                            <div class="article__categories">
                                <p>{{ article.supplier }}</p>
                                <p>
                                    {% for category in article.categories.all %}
                                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                            <div>
                                <h2 class="article__name">{{ article.name }}</h2>
                            </div>
                            <h1 class="article__price">{{ article.price }} €</h1>
                            <p>Quantity: {{ article.quantity }}</p>
                        </section>

                    </article>
                </a>
            {% endfor %}
        </ul>
    </section>

    {% block scripts %}
        {# Filter article by name #}
        <script>
            selected_articles = [...document.querySelectorAll(".article")];
            input = document.getElementById("article_filter");

            input.addEventListener("input", function () {
                let found = 0;
                const filter = this.value.toLowerCase();

                selected_articles.forEach(article => {
                    const name = article.querySelector(".article__name").textContent.toLowerCase();
                    if (name.indexOf(filter) === -1) {
                        article.style.display = "none";
                    } else {
                        found++;
                        article.style.display = "";
                    }
                });
            });
        </script>
    {% endblock %}
{% endblock %}
